*.iml
.gradle
/local.properties
/.idea
/.gradle
/gradle
!/gradle/wrapper/gradle-wrapper.properties
!/gradle/wrapper/gradle-wrapper.jar
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
