<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <permission android:name="com.noti.plugin.DATA_TRANSFER_PLUGIN" />
    <uses-permission android:name="com.noti.plugin.DATA_TRANSFER_PLUGIN" />
    <permission android:name="com.noti.plugin.DATA_TRANSFER_HOST" />
    <uses-permission android:name="com.noti.plugin.DATA_TRANSFER_HOST" />

    <!-- Additional permissions for acquire notification access permission on android 13+ devices when app is side-loaded -->
    <uses-permission android:name="android.permission.ACCESS_RESTRICTED_SETTINGS"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:name=".Application"
        android:fullBackupContent="true"
        android:theme="@style/Theme.App.Palette"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s">

        <activity android:name=".StartActivity" />
        <activity android:name=".ui.NetSelectActivity"/>
        <activity android:name=".ui.prefs.BlacklistActivity" />
        <activity android:name=".ui.prefs.custom.AddActionActivity"
            android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity android:name=".ui.OptionActivity" />
        <activity android:name=".ui.receive.NotificationViewActivity"
            android:theme="@style/Theme.App.Palette.Dialog"/>
        <activity android:name=".ui.receive.SmsViewActivity"
            android:theme="@style/Theme.App.Palette.Dialog"/>
        <activity android:name=".ui.receive.TelecomViewActivity"
        android:theme="@style/Theme.App.Palette.Dialog"/>
        <activity android:name=".ui.receive.ExitActivity" />
        <activity android:name=".service.refiler.ReFileActivity"/>
        <activity android:name=".service.refiler.FileDetailActivity"/>
        <activity android:name=".ui.pair.PairAcceptActivity"
            android:theme="@style/Theme.App.Palette.Dialog"/>
        <activity android:name=".ui.pair.PairingActivity"/>
        <activity android:name=".ui.pair.PairDetailActivity"/>
        <activity android:name=".ui.pair.PresentationActivity"
            android:theme="@style/Theme.App.Material3" />
        <activity android:name=".ui.pair.DeviceFindActivity"/>
        <activity android:name=".ui.pair.RequestActionActivity"/>
        <activity
            android:label="Share Data"
            android:name=".ui.pair.ShareDataActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Palette.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".receiver.TaskerPairEvent"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Remote Trigger Event">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".utils.TaskerConfigAction"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Noti Sender tasker plugin configuration">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".updater.UpdaterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".receiver.plugin.IAPTestActivity"
            android:theme="@style/Theme.App.Palette.Dialog"
            android:exported="false"/>

        <service
            android:name=".service.NotiListenerService"
            android:label="Read notifications"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".service.FirebaseMessageService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.QuickSettingService"
            android:label="Noti Sender"
            android:icon="@drawable/ic_notification_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.plugin.PluginReceiver"
            android:exported="true"
            android:permission="com.noti.plugin.DATA_TRANSFER_HOST">
            <intent-filter>
                <action android:name="com.noti.plugin.DATA_TRANSFER_HOST" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.PushyReceiver" android:exported="false">
            <intent-filter>
                <!-- Do not modify this -->
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver>

        <receiver android:name="me.pushy.sdk.receivers.PushyUpdateReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.media.MediaBroadcastReceiver"
            android:exported="true">
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootCompleteReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".service.BitmapIPCManager$BitmapDismissBroadcastListener" android:exported="false"/>

        <receiver android:name=".receiver.FindDeviceCancelReceiver" />

        <service android:name="me.pushy.sdk.services.PushySocketService" android:stopWithTask="false" />

        <service android:name="me.pushy.sdk.services.PushyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBW8agOEJ1V_XPhTCQozFW9ogXbm336czg" />
    </application>
</manifest>